{% extends 'base.html' %}

{% block content %}

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Workout title" class="form-control"
               value="{{ request.form['title'] }}">
    </div>

    <div class="form-group">
        <label for="exercise">Exercise</label>
        <input type="text" name="exercise"
               placeholder="Exercise name" class="form-control"
               value="{{ request.form['exercise'] }}">
    </div>

    <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" name="weight"
               placeholder="Weight (lbs)" class="form-control"
               value="{{ request.form['weight'] }}">
    </div>

    <div class="form-group">
        <label for="sets">Sets</label>
        <input type="number" name="sets"
               placeholder="Number of sets" class="form-control"
               value="{{ request.form['sets'] }}">
    </div>

    <div class="form-group">
        <label for="reps">Reps</label>
        <input type="number" name="reps"
               placeholder="Number of reps" class="form-control"
               value="{{ request.form['reps'] }}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}
